body
{
  background-color: black;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
    display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main
{
  color: #5cf463;
  font-family: 'Inconsolata';
}

.container
{
  position: absolute;
  top: 1%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-10%);
  -webkit-transform: translateX(-50%) translateY(-10%);
  transform: translateX(-50%) translateY(-10%);
}

.header-link:hover
{
  font-weight: bold;
  text-decoration: none;
}

div {
  word-wrap: break-word;
}

a:link
{
  color: #5cf463;
  text-decoration: none;
}
  
a:visited
{
  color: #5cf463;
  text-decoration: none;
}
  
a:hover
{
  color: #5cf463;
  text-decoration: underline;
}
  
a:active
{
  color: #5cf463;
  text-decoration: underline;
}

/* Blog section */
#blog {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.blog-post {
  display: flex;
  padding: 10px;
  border: none; 
  background-color: transparent;
  align-items: center;
}

img {
  border: 2px solid #5cf463;
  padding: 2px;
}

.left-content {
  flex: 0 0 100px;
  margin-right: 10px;
  max-height: 200px;
  align-items: center;
}

.right-content {
  flex: 1;
  align-items: center;
}

.post-title {
  font-size: 24px;
}

.post-subtitle {
  font-weight: bold;
  margin-top: 0;
}

.post-summary {
  margin-top: 0;
}

@media (max-width: 480px) {
  main {
    font-size: 11px;
  }

  #blog {
    max-width: 100%;
    margin: 0;
    text-align: justify;
  }

  .blog-post {
    display: block; 
    padding: 10px;
    border: none;
    background-color: transparent;
  }

  .left-content {
    max-height: 200px;
    margin-bottom: 25px;
    display: inline-block;
    justify-content: center;
  }

  .right-content {
    margin-top: 10px;
  }
}
