body {
  background-color: black;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main {
  color: #5cf463;
  font-family: 'Inconsolata';
  text-align: center;
  margin-top: -50px;
}

pre {
  white-space: pre-wrap;
  font-size: 16px;
}

.header-link:hover {
  font-weight: bold;
  text-decoration: none;
}

div {
  word-wrap: break-word;
}

a:link {
  color: #5cf463;
  text-decoration: none;
}

a:visited {
  color: #5cf463;
  text-decoration: none;
}

a:hover {
  color: #5cf463;
  text-decoration: underline;
}

a:active {
  color: #5cf463;
  text-decoration: underline;
}

@media (max-width: 480px) {
  pre {
    font-size: 2.5vw;
  }
}
