body
{
    background-color: black;
}

main
{
    color: #00f10c;
    font-family: monospace;
}

.container
{
    position: absolute;
    top: 1%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-10%);
    -webkit-transform: translateX(-50%) translateY(-10%);
    transform: translateX(-50%) translateY(-10%);
}

div {
    word-wrap: break-word;
}

a:link
{
    color: #00f10c;
    text-decoration: none;
}
  
a:visited
{
  color: #00f10c;
  text-decoration: none;
}
  
a:hover
{
  color: #00f10c;
  text-decoration: underline;
}
  
a:active
{
  color: #00f10c;
  text-decoration: underline;
}

/* Blog section */
#blog {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.blog-post {
  display: flex;
  padding: 10px;
  border: none; 
  background-color: transparent;
  align-items: center;
}

.left-content {
  flex: 0 0 100px;
  margin-right: 10px;
  border: 2px solid #00f10c;
  padding: 0;
  max-height: 200px;
  align-items: center;
}

.right-content {
  flex: 1;
  align-items: center;
}

.post-title {
  font-size: 24px;
}

.post-subtitle {
  font-weight: bold;
  margin-top: 0;
}

.post-summary {
  margin-top: 0;
}

@media (max-width: 480px) {
    main {
        font-size: 11px;
    }
}